<h1>Friends of Rex</h1>



<h2>PAGE UNDER CONSTRUCTION</h2>
      <hr>
      <hr>

     <p>

      Please come back and visit.

      <hr>

      For interim info and how you can help, email: aig@friendsofrex.org

  	</p>
 